table {
margin-top: 100px;
border-collapse: collapse;
position: absolute;
left: 100px;
top: 50px;
} 
td {
height: 50px;
width: 50px;
border: 1px solid lightblue;
text-align: center;
vertical-align: middle;
cursor: pointer;
}

button {
	margin-left: 20px;
	border-radius: 8px;

}
#gamestate {
	margin-top: 20px;
	margin-left: 25px;
}